/* reset default */
@import 'reset';

// mixins
@mixin ContentStyle($color,$margin,$textTransform){
	color: $color;
	margin: $margin;
	text-transform: $textTransform;
}

@mixin imgStyle($border,$padding,$margin){
	border: $border solid $colorHeading;
	padding: $padding;
	margin: $margin;
}

@mixin brief($width,$padding,$margin,$float,$background,$color){
	width: $width;
	padding: $padding;
	margin: $margin;
	float: $float;
	background-color: $background;
	color: $color;
}

@mixin links{
		
		&:link{
			color: $linksColor;
		}
		
		&:active{
			color: darken($linksColor, 25%);
		}

		&:visited{
			color: darken($linksColor,28%);
		}

		&:hover{
			color: lighten($linksColor,30%);
			text-decoration: none;
		}
	
}

// tr hover
@mixin trHover{
	&:hover{
		td{
			background-color: $trHoverBg;
		}
	}
}

@mixin fieldHover{
 border-color: darken($fieldBorderColor, 30%);
 color: darken($formColor,100%);
}

@mixin button{
	cursor: $cursorType;
	border: $border;
	width: $width;
	padding: $buttonPadding;
	background-color: $buttonBackground;
	font-size: $buttonSize;
	text-transform: $buttonTextRegister;
	color: $buttonColor;

	&:hover{
		border-color: darken($buttonColor,25%);
		color: darken($buttonColor,25%);
	}
}
//mixins//

/* style */
body{
	background-color: $bodyBackground;
	font-family: $contentFont;
	font-size: $fontSize;
}

#content{
	max-width: $maxWidth;
	margin: $fixedCenter;
	padding: $padding;
	background-color: $contantBackground;
}

/* style heading + p */		
h1{
	text-align: center;
	@include ContentStyle($colorHeading, $h1topBottom,$headingRegister);
}

h2{
	@include ContentStyle($colorHeading, $h2bottom,$headingRegisterFalse);
}

p{
	line-height: $lineHeight;
	@include ContentStyle($contentColor, $pBottom,$headingRegisterFalse);
}

/* style img */
img{
	z-index: $imgZIndex;
	&.img-left{
		float: $floatLeft;
		@include imgStyle($imgBorder,$imgPadding,$marginLeft);
	}

	&.img-right{
		float: $floatRight;
		@include imgStyle($imgBorder,$imgPadding,$marginRight);
	}
}

.brief{
	box-sizing: border-box;
	@include brief($briefWidth,$briefPadding,$briefMargin, $briefFloat,$briefBackground,$briefTextColor);
}


/* style links */
a{
	@include links;
}

/* style table */
table{
	width: $tableWidth;
	border-collapse: $tableCollapse;
	margin-bottom: $tableMargin;
	color: $tableColor;
}

caption{
	text-align: $textAlign;
	color: $captionColor;
}

th{
	background-color: $tableBackground;
	text-transform: $tableRegister;
	text-align: $thLeft;
	padding: $thPadding;
	color: $briefTextColor;
	border-right: $thBorder;

	&:last-child{
		border-right: none;
	}
}

td{
	padding: $tdPadding;
	border-bottom: $tdBorder;
	background-color: $tableTdBackground;
}

// tr hover
tr{
	@include 	trHover;
}

/* style form */
form{
	width: $formWidth;
	box-sizing: $formSizing;
	text-transform: $formRegister;
	color: $formColor;

	div{
		display: $displForm;
		justify-content: $justContent;
	}

	span{
		width: $spanWidth;
	}

	input{
			width: $inputWidth;
			margin: $inputMargin;
			padding: $inputPadding;
			border: $inputBorder;
			color: $fieldTextColor;

			&:hover{
			@include fieldHover;
		}
	}

	input[type="submit"]{
		@include button;
	}

	textarea{
		width: $areaWidth;
		margin: $areaMargin;
		padding: $areaPadding;
		text-align: $areaAlign;
		color: $areaColor;
		border: $areaBorder;

		&:hover{
			@include fieldHover;
		}
	}
	
}
